.form{
  display: row;
  height: 60vh;

}
  
  .form p {
    text-align: center;
  }


  .form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  

  
  input[type="radio"]:checked ~ label {
    color: orange;
  }


.button-submit{
  margin-top: 10px;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
}

.input-container{
  margin: 10px;
}

.errors{
  color:red;
}


.country-selector{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; 
  margin-right: 10px;
}
