.container-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
}
.cards{
  margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 60px;
    justify-content: space-between; 
    margin-left: 300px;
    margin-right:300px;
    
   
}

.img-card{
 max-width: 200px;
 max-width: 200px;
 border-radius: 100px;
}
.activity-card {
  width: 250px;
  height: 250px;
  align-items: center;
  background: black;
  color: #8f00ff;
  border: 1px solid #8f00ff    ;
  border-radius: 1rem;
  align-items: center;  

}

.flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #8f00ff    ;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    align-items: center;
    background: black;
    color: #8f00ff;
  }
  
  .flip-card-back {
    background: linear-gradient(120deg, #b14dff 30%, #8f00ff 88%,
    #8f00ff 40%, #8f00ff 78%);
    color: white;
    transform: rotateY(180deg);
  }
  .paginado{
    color: white;
    margin: 3px;
  }
.pagination{
  margin-top: 80px;
  display:flex;
  align-items: center;
}
.page-button.active {
  background-color: transparent; 
  color: #fff; 
  border: 1px solid #007bff; 

}