.container-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: space-between; 

}

.card {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    max-width: 250px;
}
.img-card{
 width: 200px;
 border-radius: 100px;
}

