.navbar {
  background-color: black;
  height: 10vh;
  width: 100%; 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo {
  width: 90px; /* Ancho de la imagen */
  animation: rotate 6s linear infinite; /* Aplica la animación 'rotate' de forma infinita */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Empieza la rotación desde 0 grados */
  }
  100% {
    transform: rotate(360deg); /* Termina la rotación en 360 grados */
  }
}